@media screen and (max-width:800px) {

  header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 5;
    color: white;
    background-color: black;
    margin-bottom: 2vh;
  }

  #filler {
    width: 20%;
  }

  #header {
    text-align: center;
    font-size: 2rem;
    width: 60%;
  }

  #location {
    font-size: 1rem;
    width: 20%;
    text-align: center;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
  }

  main {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 1vh;
    z-index: 3;
  }

  #rules {
    position: relative;
  }
  
  #rules a {
    color:orange;
    text-decoration: none;
  }

  #rules a:hover {
    font-size: 1.1em;
  }

  #dropArea {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 2px dashed darkslategray;
    border-radius: 20px;
    text-align: center;
    color: black;
    min-height: 20vh;
    font-size: 0.8rem;
  }

  #dropArea:-moz-drag-over {
    border: 2px solid;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .fa-regular {
    font-size: 100px;
  }

  #list {
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
  }

  .button {
    display: inline-block;
    color: orange;
    cursor: pointer;
  }

  .button:hover {
    color: orange;
  }
  
  #fileElem {
    display: none;
  }

  input[type="submit"] {
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: white;
    padding: 10px;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  #history {
    font-size: 0.8rem;
    position: relative;  
  }

  #fileSelect {
    position: relative;
    display: block;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: auto;
    font-size: 1rem;
  }

  #interaction {
    position: relative;
    height: auto;
  }

  .hidden {
    display: none;
  }

  .visible {
    position: absolute;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: none;
    border-radius: 20px;
    -webkit-animation: flip 1s cubic-bezier(.02,.01,0,1.92);
            animation: flip 1s cubic-bezier(.02,.01,0,1.92);
  }

  .visible::-webkit-scrollbar {
    display: none;
  }

  .visible div {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
  }

  .visible :first-child {
    margin-top: 0.2rem;
  }

  .visible :last-child {
    margin-bottom: 0.2rem;
  }

  .visible div:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .file {
    background: none;
    width: 85%;
    border: none;
    color: white;
    text-align: center;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
  }
  
  .remove {
    background: none;
    width: 15%;
    border: none;
    color: white;
    text-align: center;
  }

  #output {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    min-height: 20vh;
    max-height: 80vh;
    resize:vertical;
    overflow:auto;
    padding: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    background: none;
  }

  #output:focus {
    outline: none;
  }

  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 4vh;
    font-size: 1rem;
  }

  .buttons button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }

  footer {
    height: 1rem;
    font-size: 0.7rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
    background-color: black;
    color: white;
    overflow: hidden;
  }
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  background: none;
}

#background {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 801px) {
  

header{
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  text-align: center;
  color: white;
  background-color: black;
  font-size: 5vh;
  padding: 1.5vh;
  margin-bottom: 2vh;
}

#filler {
    width: 20%;
  }

  #header {
    text-align: center;
    font-size: 2rem;
    width: 60%;
  }

  #location {
    font-size: 1rem;
    width: 20%;
    text-align: center;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
  }

main {
  position: relative;
  margin-left: 35px;
  margin-right: 35px;
}

#rules {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 49%;
  float: left;
  min-height: 87vh;
  margin-right: 1%;
}

#rules a {
  color:orange;
  text-decoration: none;
}

#dropArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dashed black;
  border-radius: 20px;
  text-align: center;
  color: black;
  min-height: 40vh;
  font-size: 0.8rem;
  margin-top: 2vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#dropArea:-moz-drag-over {
  border: 2px solid black;
  background-color: rgba(0, 0, 0, 0.5);
}

#dropArea img {
  margin-top: 2vh;
  width: 30%;
}

#list {
  display: inline;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.button {
  display: inline-block;
  color: orange;
  cursor: pointer;
}

.button:hover {
  color: orange;
}
  
#fileElem {
  display: none;
}

input[type="submit"] {
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  right: 5%;
  font-size: 1.2rem;
}

#history {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.8rem;
  width: 49%;
  min-height: 87vh;
  float: right;
  margin-left: 1%;
}

#fileSelect {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 0 auto 0 auto;
  font-size: 1.2rem;
}

  .hidden {
    display: none;
  }

  #interaction {
    margin-top: 1vh;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    overflow: hidden;
  }

  .visible {
    position: absolute;
    top: 0;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    overflow: hidden;
    border: 2px darkgrey black;
    border-radius: 20px;
    font-size: 1.2rem;
    -webkit-animation: flip 0.5s linear;
            animation: flip 0.5s linear;
  }

  .visible div {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .visible div:hover {
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .visible :first-child {
    margin-top: 0.1rem;
  }
  
  .visible :last-child {
    margin-bottom: 0.1rem;
  }
  
  .file {
    background: none;
    width: 80%;
    border: none;
    color: white;
    text-align: center;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
  }
  
.remove {
  background: none;
  width: 20%;
  border: none;
  color: white;
  text-align: center;
}

#output {
  position: absolute;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1vh;
    border: 2px solid grey;
    border-radius: 20px;
    height: 100% !important;
    resize: none;
    background: none;
}

#output:focus {
    outline: none;
}

.buttons {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-pack:end;
        -ms-flex-pack:end;
            justify-content:flex-end;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 4vh;
    margin-top: 1vh;
    bottom: 0;
    left: 0;
    right: 0;
}

.buttons button {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.2rem;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-color: black;
  color: white;
  max-height: 3vh;
}
}

input[type="submit"]:hover {
    cursor: pointer;
    animation: bumping linear 1s infinite;
    -webkit-animation: bumping linear 1s infinite;
}

.buttons button:hover {
    cursor: pointer;
    animation: bumping linear 1s infinite;
    -webkit-animation: bumping linear 1s infinite;
}

#fileSelect:hover {
  cursor: pointer;
  animation: shaky linear 1s infinite;
  -webkit-animation: shaky linear 1s infinite;
}

.loading {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#loadIcon {
  width: 20%;
  height: auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  aspect-ratio: 1/1;
  -webkit-animation: loadie 2s linear infinite;
  animation: loadie 2s linear infinite;
  border-radius: 50%;
  border-top: 3px solid white;
}

.checked::after {
  content: "✔";
  color: green;
}

@keyframes bumping {
  0% {

  };
  20% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    background-color: darkorange;
  };
  40% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    background-color: red;
  };
  60% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    background-color: darkorange;
  };
  80% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    background-color: darkorange;
  }
  100% {
    
  }0% {

  };
  25% {
    scale: 1.15;
    background-color: darkorange;
  };
  50% {
    scale: 1.3;
    background-color: red;
  };
  75% {
    scale: 1.15;
    background-color: darkorange;
  };
  100% {
    
  }
}

@-webkit-keyframes bumping {
  0% {

  };
  20% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    background-color: darkorange;
  };
  40% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    background-color: red;
  };
  60% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    background-color: darkorange;
  };
  80% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    background-color: darkorange;
  }
  100% {
    
  }
}

@keyframes shaky {
  0% {
    
  };
  20% {
    -webkit-transform:translate(-10px, 0px);
            transform:translate(-10px, 0px);
  };
  35% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  };
  45% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  };
  50% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  };
  55% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  };
  65% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  };
  80% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  };
  100% {

  }
}

@-webkit-keyframes shaky {
  0% {
    
  };
  20% {
    -webkit-transform:translate(-10px, 0px);
            transform:translate(-10px, 0px);
  };
  35% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  };
  45% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  };
  50% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  };
  55% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  };
  65% {
    -webkit-transform: translate(-10px, 0px);
            transform: translate(-10px, 0px);
  };
  80% {
    -webkit-transform: translate(10px, 0px);
            transform: translate(10px, 0px);
  };
  100% {

  }
}

@keyframes flip {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }  
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }  
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes loadie {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loadie {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}