@media screen and (max-width:800px) {

  header {
    font-size: 3vh;
    padding: 1vh;
  }

  main {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 1vh;
  }

  #rules {
    position: relative;
  }
  
  #rules a {
    color:orange;
    text-decoration: none;
  }

  #dropArea {
    flex: 1;
    min-height: 25vh;
    font-size: 1vh;
  }

  #history {
    font-size: 0.8rem;
    position: relative;  
  }

  #interaction {
    position: relative;
    height: auto;
  }

  .visible div {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
  }

  .visible :first-child {
    margin-top: 0.2rem;
  }

  .visible :last-child {
    margin-bottom: 0.2rem;
  }
  
  .file {
    background: none;
    width: 85%;
    border: none;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
  }
  
  .remove {
    background: none;
    width: 15%;
    border: none;
    color: white;
    text-align: center;
  }

  #output {
    min-height: 20vh;
    max-height: 80vh;
    resize:vertical;
    overflow:auto;
    padding: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
  }

  footer {
    height: 1rem;
    font-size: 0.7rem;
  }
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100%;
  background: none;
}

#background {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 801px) {
  

  header{
    font-size: 4vh;
    padding: 1.5vh;
  }

  main {
    position: relative;
    margin-left: 35px;
    margin-right: 35px;
  }

  #rules {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 49%;
    float: left;
    min-height: 87vh;
    margin-right: 1%;
  }

  #dropArea {
    font-size: 1vh;
    margin-top: 2vh;
    flex: 1;
  }

  #dropArea i {
    font-size: 5rem;
  }

  input[type="submit"] {
    font-size: 1.2rem;
  }

  #history {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.8rem;
    width: 49%;
    min-height: 87vh;
    float: right;
    margin-left: 1%;
  }

  #fileSelect {
    font-size: 1.2rem;
  }

  #interaction {
    margin-top: 1vh;
    position: relative;
    flex: 1;
    overflow: hidden;
  }

  .visible {
    font-size: 1.2rem;
  }

  .visible div {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .visible :first-child {
    margin-top: 0.1rem;
  }
  
  .visible :last-child {
    margin-bottom: 0.1rem;
  }
  
  .file {
    background: none;
    width: 80%;
    border: none;
    color: white;
    text-align: center;
    text-overflow: ellipsis;
  }
  
  .remove {
    background: none;
    width: 20%;
    border: none;
    color: white;
    text-align: center;
  }

  #output {
    position: absolute;
    padding: 1vh;
    resize: none;
    height: 100%;
  }

  .buttons {
    align-self: flex-end;
    width: 100%;
  }

  .buttons button {
    font-size: 1.2rem;
  }

  footer {
    max-height: 3vh;
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display:flex;
  flex-direction: row;
  z-index: 5;
  text-align: center;
  color: white;
  background-color: black;
  margin-bottom: 2vh;
}

#filler {
  width: 20%;
}

#header {
  text-align: center;
  width: 60%;
}

#location {
  width: 20%;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 45%;
}

#rules a {
  color:orange;
  text-decoration: none;
}

#dropArea {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  border-radius: 20px;
  text-align: center;
  color: black;
  font-size: 1rem;
}

label {
  color: orange;
  cursor: pointer;
}

#dropArea:-moz-drag-over {
  border: 2px solid;
  background-color: rgba(0, 0, 0, 0.5);
}

.fa-regular {
  font-size: 6vh;
}

#fileElem {
  display: none;
}

#list {
  display: inline;
  text-overflow: ellipsis;
}

input[type="submit"] , .buttons button {
  border: none;
  border-radius: 5px;
  background-color: orange;
  color: white;
  padding: 10px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#fileSelect {
  position: relative;
  display: block;
  text-overflow: ellipsis;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: auto;
  font-size: 1rem;
}

.visible {
  position: absolute;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: none;
  border-radius: 20px;
  animation: flip 1s cubic-bezier(.02,.01,0,1.92);
 }

.visible::-webkit-scrollbar {
  display: none;
}

.visible div:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.hidden {
  display: none;
}

#output {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid black;
  border-radius: 20px;
  background: none;
}

#output:focus {
  outline: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
  margin-bottom: 4vh;
  margin-top: 1vh;
  font-size: 1rem;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;
  background-color: black;
  color: white;
  overflow: hidden;
}

input[type="submit"]:hover {
  cursor: pointer;
  animation: bumping linear 1s infinite;
}

.buttons button:hover {
  cursor: pointer;
  animation: bumping linear 1s infinite;
}

@keyframes bumping {
  0% {

  };
  25% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    background-color: darkorange;
  };
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    background-color: red;
  };
  75% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    background-color: darkorange;
  };
  100% {
    
  }
}

#fileSelect:hover {
  cursor: pointer;
}

.loading {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#loadIcon {
  width: 20%;
  height: auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  aspect-ratio: 1/1;
  -webkit-animation: loadie 2s linear infinite;
  animation: loadie 2s linear infinite;
  border-radius: 50%;
  border-top: 3px solid white;
}

.checked::after {
  content: "✔";
  color: green;
}

@keyframes flip {
  0% {
    transform: scale(0);
  }  
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes flip {
  0% {
    transform: scale(0);
  }  
  100% {
    transform: scale(1);
  }
}

@keyframes loadie {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loadie {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}